h1{
    background-color:rgb(168, 9, 9);
    color:gold;
    text-align: center;
    border: solid;
}

h2{
    font-weight:900;
    text-decoration: overline;
}
p{
    text-align: justify;
    line-height: 2;
    letter-spacing: 0.7px;

}
a{
    color: green;
    border: solid;
    text-decoration: none;
    background-color:silver;
}