#container{
    width: 300px;
    height: 500px;
    border: 2px solid black;
    margin: 10% 40%;
    background-color: rgb(26, 23, 23);
}

div div{
    width:110px;
    height:110px;
    border: 2px solid black;
    margin: 40px 85px;
    border-radius: 50%;
}

#green{
    background-color: green;
    transition: 1s ease-in-out 0.2s;
}

#green:hover{
    background-color: rgb(69, 81, 69);
    width: 130px;
    height: 130px;
    transform: translate(50px);
}

#red{
    background-color: red;
}

#orange{
    background-color: orange;
}